In [ ]:
introduction to variable in python:

In [3]:
x = 3
y = 5

In [4]:
x+y

8

In [ ]:
rules for declaring the variables in python:

In [ ]:
rule no 1: no namespaces while declaring the variable name.

In [5]:
first name = "joshua"
print(first name)

SyntaxError: invalid syntax (<ipython-input-5-21f20f070444>, line 1)

In [6]:
firstname = "joshua"
print(firstname)

joshua

In [7]:
first_name = "joshua"
print(first_name)

joshua

In [ ]:
rule no 2 : variable name should not start with a number.

In [8]:
1name = "joshua"
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-ca3579abcba1>, line 1)

In [9]:
name1 = 'joshua'
print(name1)

joshua

In [ ]:
rule no 3 : variable name should not include any special characters
    @$&%*

In [10]:
name@ ='joshua'
print(name@)

SyntaxError: invalid syntax (<ipython-input-10-5c3acdca85ed>, line 1)

In [ ]:
introduction to datatypes in python :

In [ ]:
string --- str
number -----> integers(int) and floats(float)(decimals)
list----->
tuple------>
dictionaries ------> dict

In [ ]:
note : python is case senstive language

In [ ]:
classification of datatypes:

In [ ]:
two different categories:
    1. mutable datatypes ------> which we can edit or alter 
    2.immutable-----> we cannot able to edit or alter

In [ ]:
introduction to string datatypes :
    definition : a string is nothing byt a series of characters enclosed in quotes
    classification : it is an immutable datatype
    how to declare a string -----?
        3. possible ways for declaring a string
        1. single quotes
        2.double quotes
        3.triple quotes

In [12]:
name = 'joshua'
print(name) #single quote

joshua

In [13]:
name2 = "sam"
print(name) #double quote

joshua

In [16]:
name3 = """leo"""
print(name3) # triple quote

leo

In [ ]:
introductoin to string methods:

In [ ]:
# req:how to validate the datatype ====> type

In [17]:
type(name)

str

In [18]:
type(name1)

str

In [19]:
type(name3)

str

In [20]:
fullname = 'leo solomon'
print(fullname)

leo solomon

In [ ]:
#req : to correct the above to the right format...

In [21]:
print(fullname.title())

Leo Solomon